

.head{
    display: block;background-color: black;color: whitesmoke;padding-left: 30px;
 }

.list{
    display: flex;margin-left: 11px
}

.text{   color: #fff;margin: 11px;;

}
.off{color: rgb(147, 0, 0);margin-bottom: 5px }
.discount{
    color: green;margin-top: 5px;
}
.prices{
    text-align: left;padding-left: 25px;
}
.but1{
    border-radius: 20px;padding: 8px;border:0;
}

.pic{
    height: 4.5cm;
}
.card1{
    background-color: rgba(196, 196, 196, 0.653);border-radius: 1cm;
    height: 13cm;width: 8cm;text-align: center;padding-top: 10px;

}
.info{display:flex;padding-left: 25px;

}